<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controleur</servlet-name>
        <servlet-class>controleur.Controleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurDirecteur</servlet-name>
        <servlet-class>controleur.ControleurDirecteur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurEleve</servlet-name>
        <servlet-class>controleur.ControleurEleve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurSurveillant</servlet-name>
        <servlet-class>controleur.ControleurSurveillant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>controleur.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comptable</servlet-name>
        <servlet-class>controleur.Comptable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurParent</servlet-name>
        <servlet-class>controleur.ControleurParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmploiDuTemps</servlet-name>
        <servlet-class>controleur.EmploiDuTemps</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controleur</servlet-name>
        <url-pattern>/Controleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurDirecteur</servlet-name>
        <url-pattern>/ControleurDirecteur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurEleve</servlet-name>
        <url-pattern>/ControleurEleve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurSurveillant</servlet-name>
        <url-pattern>/ControleurSurveillant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comptable</servlet-name>
        <url-pattern>/Comptable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurParent</servlet-name>
        <url-pattern>/ControleurParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmploiDuTemps</servlet-name>
        <url-pattern>/EmploiDuTemps</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Controleur</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/en_tete.jsp</include-prelude>
            <include-prelude>/WEB-INF/taglib.jsp</include-prelude>
            <include-coda>/WEB-INF/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
